.admin-nav {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: $font-color-very-white;

    & > * {
        padding: 0.5rem;
        border-bottom: 1px dotted #333;
        width: 100%;
        text-align: center;
        cursor: pointer;
        transition: 0.3s linear;
    }

    & > *:hover {
        color: #888;
        background: #eee;
    }

    & > *:last-child {
        border-bottom: 0;
    }
}




@media (max-width: 576px) {
    .admin-nav {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;

        & > * {
            width: auto;
            border-bottom: 0;
            text-align: left;
        }

        & > *:hover {
            color: #888;
            background: white;
        }
    }
}